# Configuración de la base de datos MySQL
DB_HOST=localhost
DB_USER=applicationuser
DB_PASS=applicationuser
DB_NAME=movie_db

# Puerto del servidor
PORT=3000

# Configuración del entorno
NODE_ENV=development 